:root {
  --global-time: 40s;
}

main {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  color: white;
}

header {
  margin-left: 50px;
  width: 80%;
  max-width: 700px;
}

.divSeleccion {
  display: flex;
  width: 90%;
}

#divInterno {
  min-height: 82px;
}

.listaRutina span {
  margin-top: -10px;
}

.realizado {
  margin-top: 1em;
  font-size: 0.7em;
}
i {
  font-size: 1.5em;
}

/* CARRUSSEL DE FONDO */
html {
  width: auto;
  height: 100vh;
  animation-name: cambiarImagen;
  animation-duration: var(--global-time);
  animation-timing-function: step-start;
  animation-iteration-count: infinite;
}

body {
  width: auto;
  height: 130vh;
  min-height: auto;
  animation-name: oscurecer;
  animation-duration: var(--global-time);
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes cambiarImagen {
  0% {
    background: url("./imagenes/img1.jpg") center/cover fixed;
    z-index: 0;
  }
  33% {
    background: url("./imagenes/img2.jpg") center/cover fixed;
    z-index: 0;
  }
  66% {
    background: url("./imagenes/img3.jpg") center/cover fixed;
    z-index: 0;
  }
  100% {
    background: url("./imagenes/img1.jpg") center/cover fixed;
    z-index: 0;
  }
}

@keyframes oscurecer {
  0% {
    background-color: black;
  }
  5% {
    background-color: rgba(17, 16, 16, 0.5);
  }
  33% {
    background-color: black;
  }
  38% {
    background-color: rgba(17, 16, 16, 0.5);
  }
  66% {
    background-color: black;
  }
  71% {
    background-color: rgba(17, 16, 16, 0.5);
  }
  100% {
    background-color: black;
  }
}

.footer {
  bottom: 4em;
  color: rgba(255, 255, 255, 0.5);
  position: fixed;
  bottom: 1em;
}
.footer ul {
  display: flex;
  list-style: none;
}

.footer li a {
  margin: 10px;
  color: inherit;
}

.footer .copyright li {
  margin: 10px;
  font-size: 0.8em;
}

#github:hover {
  color: white;
}

@media screen and (max-width: 640px) {
  main {
    align-items: flex-start;
    margin-top: 50px;
  }

  header {
    margin-left: 10px;
    width: 95%;
  }
}

@media screen and (max-width: 2560px) {
  main {
    margin-top: 50px;
  }

  header {
    /* margin-left: 10px; */
    width: 90%;
  }

  .divSeleccion {
    width: 90%;
  }
}
